*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(5, 37, 95);
}

.container{
    padding: 20px;
    background-color: rgb(139, 255, 168);
    width: max-content;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 0, 200);
}

.button{
    align-items: center;
}

.colorBtn{
    padding: 20px;
    border-radius: 5px;
    background-color: black;
    margin: 10px;
    cursor: pointer;
}

#red{
    color: red;
}

#green{
    color: green;
}

#yellow{
    color: yellow;
}

#blue{
    color: blue;
}